<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 person_car">
  <div class="well">
      <span class="person_name"><%= link_to person, person %></span><br>
    <% if !person.family.blank? %>
      <span class="person_family">Family: <b><%= person.family %></b></span><br>
    <% end %>
    <% if !person.relation.blank? %>
      <span class="person_relation">Relationship: <b><%= person.relation %></b></span><br>
    <% end %>
    <% if !person.first_name.blank? %>
      <span class="person_first_name">First name: <b><%= person.first_name %></b></span><br>
    <% end %>
    <% if !person.last_name.blank? %>
      <span class="person_last_name">Last name: <b><%= person.last_name %></b></span><br>
    <% end %>
    <% if !person.chinese_name.blank? %>
      <span class="person_chinese_name">Chinese name: <b><%= person.chinese_name %></b></span><br>
    <% end %>
    <% if !person.email.blank? %>
      <span class="person_email">Email: <b><%= person.email %></b></span><br>
    <% end %>
    <% if !person.phone.blank? %>
      <span class="person_phone">Phone: <b><%= person.phone %></b></span><br>
    <% end %>
    <% if !person.phone_ext.blank? %>
      <span class="person_phone_ext">Phone ext: <b><%= person.phone_ext %></b></span><br>
    <% end %>

      <%= link_to edit_person_path(person, ref:request.path), :class => 'edit_button', :title => "edit" do %>
       <i class="fa fa-pencil fa-lg"></i>
      <% end %>

      <%= link_to person, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'delete_button', :title=>"Delete" do %>
        <i class="fa fa-trash fa-lg"></i>
      <% end %>
  </div>
</div>


