<% if show_when_empty or people.size > 0 %>

	<div class="row rrow section-header">
    <% if show_title %>
	  <div class="span0">
	    <h3><%= as.pluralize.humanize %></h3>
	  </div>
    <% end %>
  
    <% if show_new %>
      <% new_person = Person.new %>
      <div class="span0">
      <% if false %>
        <h3><%= render partial: '/people/new_modal', 
                        locals:  { person: new_person, 
                                    owner:owner, 
                                    as:as} %></h3>
      <% end %>

      <h3>
      <%= link_to new_person_path(ref:request.path), :class => 'edit_button' do %>
        <span class="fa fa-plus fa-lg"></span>
      <% end %>
      </h3>
      </div>
    <% end %>
	</div>

	<% if people.class.name == "ActiveRecord::Relation" and show_pages %>
	  <%= will_paginate people %>
	<% end %>  

	<div class="table-responsive">
	  <table class="table table-hover table-striped">
	    <% if false %>
	    <%= render partial: '/people/header' %>
      <% end %>
      
	    <tbody>
        <%= render partial: '/people/summary', collection: people, as: :person %>
	    </tbody>
	  </table>
	</div>

	<% if false %>
	  <!-- add in a new page, not modal -->
	  <%= link_to new_person_path, :class => 'btn btn-default' do %>
	    <span class="fa fa-plus"></span>
	    Add Person
	  <% end %>
	<% end %>  

<% end %>  
