<div class="well">
  <dl class="dl-horizontal">

  
    <dt>Family</dt>
    <dd><%= person.family -%></dd>

  
    <dt>Relationship</dt>
    <dd><%= person.relation -%></dd>

  
    <dt>First name</dt>
    <dd><%= person.first_name -%></dd>

  
    <dt>Last name</dt>
    <dd><%= person.last_name -%></dd>

  
    <dt>Chinese name</dt>
    <dd><%= person.chinese_name -%></dd>

  
    <dt>Email</dt>
    <dd><%= person.email -%></dd>

  
    <dt>Phone</dt>
    <dd><%= person.phone -%></dd>

  
    <dt>Phone ext</dt>
    <dd><%= person.phone_ext -%></dd>

  
  </dl>
</div>

