<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 family_car">
  <div class="well">
      <span class="family_name"><%= link_to family, family %></span><br>
    <% if !family.user.blank? %>
      <span class="family_user">User: <b><%= family.user %></b></span><br>
    <% end %>
    <% if !family.phone.blank? %>
      <span class="family_phone">Phone: <b><%= family.phone %></b></span><br>
    <% end %>
    <% if !family.street.blank? %>
      <span class="family_street">Street: <b><%= family.street %></b></span><br>
    <% end %>
    <% if !family.city.blank? %>
      <span class="family_city">City: <b><%= family.city %></b></span><br>
    <% end %>
    <% if !family.state.blank? %>
      <span class="family_state">State: <b><%= family.state %></b></span><br>
    <% end %>
    <% if !family.zip.blank? %>
      <span class="family_zip">Zip: <b><%= family.zip %></b></span><br>
    <% end %>
    <% if !family.country.blank? %>
      <span class="family_country">Country: <b><%= family.country %></b></span><br>
    <% end %>
    <% if !link_to image_tag(family.photo.url(:thumb)), family.photo.url.blank? %>
      <span class="family_photo">Photo: <b><%= link_to image_tag(family.photo.url(:thumb)), family.photo.url %></b></span><br>
    <% end %>
    <% if !family.verified.blank? %>
      <span class="family_verified">Verified: <b><%= family.verified %></b></span><br>
    <% end %>
    <% if !family.disabled.blank? %>
      <span class="family_disabled">Disabled: <b><%= family.disabled %></b></span><br>
    <% end %>
    <% if !family.one_more_year.blank? %>
      <span class="family_one_more_year">One more year: <b><%= family.one_more_year %></b></span><br>
    <% end %>
    <% if !family.key.blank? %>
      <span class="family_key">Key: <b><%= family.key %></b></span><br>
    <% end %>
    <% if !family.note.blank? %>
      <span class="family_note">Note: <b><%= family.note %></b></span><br>
    <% end %>

      <%= link_to edit_family_path(family, ref:request.path), :class => 'edit_button', :title => "edit" do %>
       <i class="fa fa-pencil fa-lg"></i>
      <% end %>

      <%= link_to family, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'delete_button', :title=>"Delete" do %>
        <i class="fa fa-trash fa-lg"></i>
      <% end %>
  </div>
</div>


