<div data-role="collapsible">
    <h4><%= f.object.first_name || (f.object.chinese_name || "Family member") %></h4>

      <%= f.input :relation, collection: Person::RELATIONS, include_blank:false %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :chinese_name %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :phone_ext %>
</div>
