<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 author_car">
  <div class="well">
      <span class="author_name"><%= link_to author, author %></span><br>
    <% if !author.name.blank? %>
      <span class="author_name">Name: <b><%= author.name %></b></span><br>
    <% end %>
    <% if !author.english_name.blank? %>
      <span class="author_english_name">English name: <b><%= author.english_name %></b></span><br>
    <% end %>
    <% if !author.description.blank? %>
      <span class="author_description">Description: <b><%= author.description %></b></span><br>
    <% end %>
    <% if !link_to image_tag(author.photo.url(:thumb)), author.photo.url.blank? %>
      <span class="author_photo">Photo: <b><%= link_to image_tag(author.photo.url(:thumb)), author.photo.url %></b></span><br>
    <% end %>

      <%= link_to edit_author_path(author, ref:request.path), :class => 'edit_button', :title => "edit" do %>
       <i class="fa fa-pencil fa-lg"></i>
      <% end %>

      <%= link_to author, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'delete_button', :title=>"Delete" do %>
        <i class="fa fa-trash fa-lg"></i>
      <% end %>
  </div>
</div>


