<div class="well">
  <%= simple_form_for user, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= hidden_field_tag(:ref, @return_path) %>
      <%= f.input :avatar%>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :display_name %>
<% if can? :update, Role %>
      <%= f.input :roles, collection: Role.all, checked: user.roles.size > 0 ? user.roles[0].id : 0,  as: :radio_buttons, label: :Role %>
<% end %>      
      <%= f.input :phone %>
      <%= f.input :email %>
    
    </div>
  
    <div class="form-actions">
      <%= button_tag(type: 'submit', class: "btn btn-default") do %>
        <i class="icon icon-ok"></i> Save
      <% end %>
      

      <% if @user %>
      <%= link_to @return_path, :class => 'btn btn-default' do %>
        <span class="icon icon-chevron-left"></span>
        Back
      <% end %>
      <% end %>
      
    </div>
    
  <% end %>
</div> 
  
