<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 format_car">
  <div class="well">
      <span class="format_name"><%= link_to format, format %></span><br>
    <% if !format.name.blank? %>
      <span class="format_name">Name: <b><%= format.name %></b></span><br>
    <% end %>
    <% if !format.media.blank? %>
      <span class="format_media">Media: <b><%= format.media %></b></span><br>
    <% end %>

      <%= link_to edit_format_path(format, ref:request.path), :class => 'edit_button', :title => "edit" do %>
       <i class="fa fa-pencil fa-lg"></i>
      <% end %>

      <%= link_to format, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'delete_button', :title=>"Delete" do %>
        <i class="fa fa-trash fa-lg"></i>
      <% end %>
  </div>
</div>


