<%= simple_form_for setting, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :var %>
    <%= f.input :value  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
