<div id = "terms">
<font face="Verdana, Helvetica, Arial, sans-serif">

<h2> Terms of Use</h2>

Welcome to <%=@domain%>, we hope you enjoy the service we provide. Please be sure to read over the details in these Terms of Service. By signing up for a <%=@domain%> account you agree that you have read, understand the contents of, and agree to all terms and conditions. Should you have any questions concerning this Agreement, please contact admin (AT) <%=@domain%><br>
<br>
These terms and conditions are between the user and <%=@domain%> governing use of <%=@domain%>'s services (the "Services").<br>
<br>
Acceptance of Agreement<br>
<br>
<br>
When you complete the member registration process or when you install the client software provided by <%=@domain%>, you agree to this Agreement. This Agreement may be updated from time to time. You can view these terms, conditions and notices (these "Terms") at any time at <%= link_to "#{@domain}/terms", '/terms' , :target=>"_blank" %>. Your continued use of the Services signifies your binding acceptance of the changes. This Agreement will always be available on this page for you to read. If any part of these Terms or any future changes to these Terms are not acceptable to you, you may cancel the Services by visiting your preferences page and canceling your account.<br>
<br>
Restrictions<br>
<br>
<br>
Unauthorized use of the Services, or the resale of said Services without our prior written consent, is expressly prohibited. You shall not copy, sell, transfer, distribute, publish, or assign your license to the Services in any format to any third party. Use of the Services is available only to individuals or businesses that can form legally binding contracts under applicable law. You represent that you are at least 18 years of age and have attained the age of majority in the province, state or country in which you reside, and any information that you submit is correct.<br>
<br>
User Accounts<br>
<br>
<br>
In order to obtain an Account for the Services, you will be asked to choose a personal, non-transferable password, and you are responsible for maintaining the confidentiality of your password. You are also responsible for all content and information stored, transferred, and received under your username and password. If you suspect a person has accessed your account without authorization, it is your responsibility to change your password and alert <%=@domain%> immediately. In addition, you acknowledge that <%=@domain%> may communicate with you through email. You are responsible for ensuring that <%=@domain%> has your current email address so that <%=@domain%> can provide you such communications.<br>
<br>
Subscriber Information<br>
<br>
<br>
You agree to provide true, accurate, current and complete information about yourself as prompted by the Service registration process. In order to ensure that you receive uninterrupted service, you must promptly inform <%=@domain%> of any of the following changes: in your email address; in the expiration date of any credit card used in connection with the service; in home or billing address; and in apparent breaches of security, such as loss, theft, or unauthorized disclosure or use of an ID or password. Until <%=@domain%> is notified by email of a breach in security, you will remain liable for any unauthorized use.<br>
<br>
Account Information and Data<br>
<br>
<br>
<%=@domain%> does not own any data, information or material that you store in your account, and takes no responsibility whatsoever for the contents of your account. We will not disclose any information regarding you or your account, including any data, without your prior permission except in accordance with this Agreement. Please be aware that <%=@domain%> does provide certain user registration and statistical information such as usage or user traffic patterns in aggregate form to third parties, but such information will not include personally identifying information. <%=@domain%> may access your account, including its data, to respond to service or technical problems or as stated in this Agreement. You, not <%=@domain%>, shall have sole responsibility for the accuracy, quality, integrity, legality, reliability, appropriateness and copyright of all data stored in your account. Furthermore, <%=@domain%> shall not be responsible or liable for the deletion, correction, destruction, damage, loss or failure to store any data.<br>
<br>
User Conduct<br>
<br>
<br>
You are solely responsible for the content of all data you store or retrieve from your account. You are prohibited from using the Client Software, accessing the Services and the sites and materials available over the Services from territories where such activities are illegal. You agree to abide by all applicable local, state, national and international laws and regulations in connection with the Services, and not to knowingly use the Services for any purpose that is unlawful or prohibited. In addition, without limitation, you agree not to use Services to:<br>
<br>
Transmit any material that contains software viruses or other harmful or deleterious computer codes;<br>
Use the Services in any manner which could damage, disable, overburden, or impair the Services or its network(s);<br>
Interfere with any other party's use and enjoyment of the Services, including the distribution of unsolicited spam messages or other impermissible advertising or marketing activities;<br>
Attempt to gain unauthorized access to the Services, other accounts, computer systems or networks connected to the Services, through hacking, password mining or any other means;<br>
Assist a third party's efforts to harvest or otherwise collect information about other users, including but not limited to member email addresses for spamming or other purposes.<br>
<br>
Trial Use<br>
<br>
<br>
<%=@domain%> makes a free version of the Services available in order to allow users to evaluate the Services prior to purchasing. By agreeing to this Agreement and purchasing the Services, you acknowledge that you are aware of this opportunity to "try before you buy" and have either taken advantage of the opportunity or opted not to do so with full information. Because of this opportunity to evaluate prior to purchase, <%=@domain%> does not offer refunds to its subscribers except in the event of billing errors.<br>
<br>
Payment of Fees<br>
<br>
<br>
The fees applicable for <%=@domain%> service are available at www.<%=@domain%> and as published within the Services. <%=@domain%> reserves the right to change the fees or applicable charges and to institute new charges at any time, upon thirty (30) days prior notice to you (which may be sent by email to the address you have most recently provided).<br>
<br>
By agreeing to this Agreement and purchasing a subscription to the paid version of the Services, you are agreeing to allow <%=@domain%> to place your account on a recurring payment plan. The account will automatically be charged according to the terms of the account type you select on the same day each month. Further, you grant permission to <%=@domain%> to charge your credit card or payment service for any and all services you request and any renewals thereof. If <%=@domain%> is unable to process a payment for your account on the specified processing date, <%=@domain%> may suspend your account pending a successful payment transaction.<br>
<br>
Cancellation<br>
<br>
<br>
You may cancel your account at any time from within the <%=@domain%> website. If you cancel your account while it is in good standing, <%=@domain%> will continue to make your data available to you until the end of the current billing cycle. Because <%=@domain%> charges its subscribers for each unpaid billing cycle in advance, in order to cancel your account and not be charged for an impending billing cycle, you must make your cancellation request at least two business days before the next automatic billing occurrence.<br>
<br>
Termination and End of Service<br>
<br>
<br>
You acknowledge that <%=@domain%>, in its sole discretion, may terminate your ID, password, account (or any part thereof) or use of the Services for any reason, including, without limitation, if <%=@domain%> believes that you have violated or acted inconsistently with the letter or spirit of this Agreement or any <%=@domain%> user Agreements. <%=@domain%> may also, in its sole discretion, at any time discontinue providing the Service, or any part thereof, with or without notice. You agree that any termination of your access to the Service under any provision of this Agreement may be effected without prior notice, and acknowledge and agree that <%=@domain%> may immediately deactivate or delete your account and/or bar any further access to the Services. Further, you agree that <%=@domain%> shall not be liable to you or any third-party for any termination of your access to the Services, including but not limited to, migration of your files away from the Services.<br>
<br>
Privacy<br>
<br>
<br>
We respect your privacy and have taken specific steps to protect it. Please see our Privacy Policy at <%= link_to "#{@domain}/privacy", '/privacy' , :target=>"_blank" %> for a description of our privacy practices. The terms of our Privacy Policy are incorporated into these Terms by reference and constitute part of the agreement between you and <%=@domain%>.<br>
<br>
Proprietary Rights.<br>
<br>
<br>
Except for the licenses granted herein, you have no right, title or interest in or to Services or any content contained in the Services ("Content"). You acknowledge and agree that the Services, Content, and any necessary software used in connection with the Services ("Software") contain proprietary and confidential information that is protected by intellectual property and other applicable laws, and that <%=@domain%> or its licensors retain all proprietary right, title and interest, including copyright and all other intellectual property rights, in the Services, Content, and Software, including, without limitation, text, images, other multimedia data, source code, and object code. <%=@domain%> and/or other <%=@domain%> products and services referenced herein are either trademarks or registered trademarks of <%=@domain%>. <%=@domain%> grants you a limited, personal, non-transferable, non-exclusive license, in object code only, to use the Software. You agree not to, for the benefit of yourself or a third party, modify, reverse engineer, or create derivative works from any proprietary information, Software, or the Services.<br>
<br>
No Warranties; Indemnification; Limitation of Liability.<br>
<br>
<br>
<%=@domain%> is in no way liable for loss of customer data. Under no circumstances will <%=@domain%> be held accountable for any loss of customer data. By becoming a <%=@domain%> user you, the customer, acknowledge that you forfeit the right to hold <%=@domain%> accountable for any and all technical errors, including loss of user files (customer data).<br>
<br>
<%=@domain.upcase%> PROVIDES THE SERVICES "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. IN PARTICULAR, <%=@domain.upcase%> DOES NOT GUARANTEE UNINTERRUPTED, SECURE OR ERROR-FREE OPERATION OF <%=@domain.upcase%>'S SERVERS FOR THE SERVICES. SOME U.S. STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE ABOVE DISCLAIMER MAY NOT APPLY.<br>
<br>
Display of computer's location on a map is provided by the courtesy of Google? and can be terminated at any time. The accuracy and availability of the map display is not guaranteed by <%=@domain%>.<br>
<br>
You agree to indemnify and hold <%=@domain%> harmless from and against any and all claims, costs, damages, losses, liabilities, and expenses (including, without limitation, attorneys' fees and costs) resulting from or in connection with your use of <%=@domain%> services or breach of this Agreement.<br>
<br>
You represent and warrant that your use of the Client Software, the Site and the Site Content will be consistent with this license and will not infringe or violate the rights of any other party or breach any contract or legal duty to any other parties, or violate any applicable law. You expressly agree to indemnify <%=@domain%> against any liability to any person arising out of your use of  the Client Software, the Site and Site Content not in accordance with these Site Terms.<br>
<br>
IN NO EVENT SHALL <%=@domain.upcase%> BE LIABLE FOR LOST PROFITS OR SPECIAL, INCIDENTAL, INTANGIBLE OR CONSEQUENTIAL DAMAGES (INCLUDING BUT NOT LIMITED TO DAMAGES FOR BREACH OF CONTRACT OR WARRANTY OR FOR NEGLIGENCE OR STRICT LIABILITY) ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT OR THE SERVICES, EVEN IF <%=@domain.upcase%> HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. USE OF THE SERVICE IS AT YOUR SOLE RISK.<br>
<br>
In the event that, notwithstanding the foregoing disclaimers and indemnification, <%=@domain%> is found responsible to any <%=@domain%> user for any reason whatsoever, <%=@domain%>'s responsibility shall be limited to the amounts actually paid by such user for <%=@domain%>'s services, and shall not include punitive damages or consequential or resulting damages of any nature. <%=@domain%> does not guarantee length of service.<br>
<br>
Force Majeure<br>
<br>
<br>
<%=@domain%> is not responsible for circumstances beyond its control, including without limitation actions of third parties, force majeure, Acts of God, natural disasters, or similar circumstances. Further, <%=@domain%> does not provide any warranties respecting its services, and specifically disclaims any warranty of merchantability or suitability for particular purposes.<br>
<br>
Changes<br>
<br>
<br>
You agree that <%=@domain%> has the right to change the terms, conditions, and notices under which it offers the Services, including any charges associated with the use of the Services. If <%=@domain%> decides to make substantial changes to these Terms, it will post the changes to its website. <%=@domain%> suggests that you periodically check these Terms on the <%=@domain%> website to make sure that your understanding of the Terms is up to date. Your continued use of the Services after the effective date of such changes constitutes your acceptance of and agreement to such changes.<br>
<br>
Governing Law; Compliance with Law.<br>
<br>
<br>
These Terms shall be governed by and construed in accordance with the laws of the United States without regard to the conflicts of laws. <%=@domain%> makes no representation that materials used within the Services are appropriate for use outside the United States, and access to the Services from locations where its contents are illegal is prohibited. If you access the Services from outside the United States, you are responsible for compliance with local laws. You may not use the Services or export or re-export the Content, Software or Services contained on or made available through the Services in violation of United States export laws and regulations.<br>
<br>
Our failure to enforce any right under these Terms will not waive that right. If any provision of these Terms is invalid, these Terms should be interpreted to effect the intent of the parties, and the remaining provisions will remain in effect. You must file any claim or suit related to the Terms or the Services within three years after it arises.<br>
<br>
These terms represent the entire agreement between you and <%=@domain%> relating to your use of the Services. Any prior representation or statement in respect thereof is hereby excluded. The terms of the license agreement accompanying any Software govern your use of such Software.<br>
<br>
U.S. Government Restricted Rights.<br>
<br>
<br>
The materials used within the Services are provided with "Restricted Rights." Use, duplication or disclosure by the Government is subject to the restrictions contained in applicable laws and regulations. Use of the Services by the Government constitutes the Government's acknowledgment of <%=@domain%>'s proprietary rights therein.<br>
<br>
Legal Information<br>
<br>
<br>
2010 <%=@domain%> All rights reserved. Various trademarks held by their respective owners.<br>
<br>
Specifications subject to change without notice.<br>
<br>
<%=Setting.service%> and <%=@domain%> are trademarks of <%=Setting.company%>. All other brands or products are trademarks or registered trademarks of their respective holders and should be treated as such.<br>
<br>
<br>
</font>
</div>
