  <tr>
    <td class="<%= singular_table_name %>_name"><b><%%= link_to <%= singular_table_name %>, <%= singular_table_name %> %></b></td>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
    <td class="<%= singular_table_name %>_<%= attribute.name %>"><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>

    <td>    
    <%% if false %>
      <%%= link_to <%= singular_table_name %>, :class => 'show_button', :title => "details" do %>
        <i class="fa fa-info fa-lg"></i> 
      <%% end %>
  
      <%%= render partial: '/<%= plural_table_name %>/preview_modal', locals: {<%= singular_table_name %>: <%= singular_table_name %>} %>

      <%%= render partial: '/<%= plural_table_name %>/edit_modal', locals: {<%= singular_table_name %>: <%= singular_table_name %>} %>
    <%% end %>
  
      <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>, ref:request.path), :class => 'edit_button', :title => "edit" do %>
       <i class="fa fa-pencil fa-lg"></i>
      <%% end %>

      <%%= link_to <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'delete_button', :title=>"Delete" do %>
        <i class="fa fa-trash fa-lg"></i>
      <%% end %>
    </td>
  </tr>

