<!-- https://github.com/rails/rails/blob/master/railties/lib/rails/generators/erb/scaffold/templates/_form.html.erb -->

<div class="">
  <%= simple_form_for course, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= hidden_field_tag(:ref, @return_path) %>
      <%= f.association :category %>
      <%= f.association :medium %>
      <%= f.association :format %>
      <%= f.association :author %>
      <%= f.input :name %>
      <%= f.input :subtitle %>
      <%= f.input :description %>
      <%= f.input :source_url %>
      <%= f.input :image %>
      <%= f.input :image_url %>
      <%= f.input :public %>
    
    </div>
  
    <div class="form-actions">
      <%= button_tag(type: 'submit', class: "btn btn-default") do %>
        <i class="fa fa-check"></i> Save
      <% end %>

      <%= button_to :back, :class => 'btn btn-default' do %>
        <span class="fa fa-chevron-left"></span>
        Back
      <% end %>
      
    </div>
    
  <% end %>
</div> 
  
