<p><%= t('hello') %><%= @resource.email %>!</p>

<p><%= t('request-link-change-password') %></p>

<p><%= link_to t('change-password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('no-request-please-ignore-email') %></p>
<p><%= t('access-link-to-create-new-password') %></p>
